body {
  margin: 0; /* Remove default margin */
  background-color: #099FFF;/*#099FFF*/
  text-align:center;/*center the text*/
  font-family: monospace;/*font style*/
}



.title{/*title style*/
  top: 2px;/*position*/
  background-color: #099FFF;/*background color*/
  height:100px;/*height*/
  position: static ;/*position*/
  margin: 10px;/*margin*/
  }

.contact {
  background-color: #099FFF;/*background color*/
  height: 200px;/*height*/
  position: relative;/*position*/
  margin: 10px;/*margin*/
  }
h1 {
  margin-top: 0;/*margin*/
  color: #000000;/*color*/
  font-family: 'Sacramento', cursive;/*font style*/
  font-style: oblique;/*font style*/
  font-size: 45px;/*font size*/
  }
}

h2 {
  color: #000000;/*color*/
}

p {
  color: #000000;/*color*/
}
td {
  color: #000000;/*color*/
  text-align:center;/*center the text*/
}
a {
  color: #000000;/*color*/
}

}
hr {
  border-style: dotted none none;/*border style*/
  border-color: #000000;/*border color*/
  border-width: 0;/*border width*/
  height: 20px;/*height*/
  width: 100%;/*width*/
}

img {
position: relative;/*position*/
width:110%;/*width*/
}
